.ipynb_checkpoints/
Python code/.ipynb_checkpoints/
Python code/archive
Python code/experimental
Python code/Tensorflow Tutorials
.Rhistory
R code/.Rhistory
data/Truth_effect_example/
Julia code/Examples Stefan
Julia code/Levy flight simulator/~$vy flight model implementation.docx
